<!DOCTYPE html>
<html>
<head>
	<title> Discussion Group </title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<?php include 'nav.php'; ?>


<div class="container">
	
	<div class="well">
		<h2 class="text-center">Welcome to Discussion Group</h2> 
	</div>

	<div class="row">
		<div class="col-md-6" style="border: 1px solid; padding: 20px; margin: 5px 0px;">
			<div class="text-center"><button class="btn btn-primary" style="padding: 15px 70px; font-size: 20px" onclick="window.location.href='http://localhost/demo/PrivateDiscussionBoard.php'"> Private </button>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6" style="border: 1px solid; padding: 20px; margin: 5px 0px;">
			<div class="text-center"><button class="btn btn-primary" style="padding: 15px 70px; font-size: 20px" onclick="window.location.href='http://localhost/demo/PublicDiscussionBoard.php'"> Public </button>
		</div>
	</div>
</div>

</body>
</html>